body{
  font-family:Helvetica, sans-serif;
}


.header{
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
}

h1{
  font-size:70px;
  font-weight:bold;
  color:white;
}
